@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

.g-base {
    background-color: #FFFFFF;
    color: #3d5170;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
    }
    

.g-heading{
    font-family:"Arial" ;
    font-size: 40px;
    font-weight: bold;
}

.g-subheading{
    font-size:16px;
    letter-spacing:8px;
    font-weight: 600;
    color: #6f7276;
}

aside{
    max-width: 800px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    text-align:right ;
}
